.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.section{
background-image: url('./images/pexels-elevate-1267315.jpg');
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  letter-spacing: 3px;
  position: relative;
}

.nav {
  display: flex;
  justify-content: center;
  width: 30%;
}

.navlink {
  list-style: none;
  margin: 20px;
}

.navlink a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.2em;
}

.burger {
  font-size: 1.2em;
  display: none;
}

@media screen and (max-width: 678px) {
  .burger {
      display: block;
  }
  .nav {
      margin: 0;
      background: #343434;
      position: absolute;
      right: -100%;
      top: 70px;
      width: 50%;
      height: calc(100% - 70px);
      flex-direction: column;
      justify-content: space-around;
      padding: 0;
      transition: all 400ms;
  }
  .navlink {
      text-align: center;
  }

  .nav-active {
      right: 0;
  }
}


.container{
  /* border: 2px solid red; */
  /* top: 13rem;
  transform: translateY(-50%);
  left: 50%;
  display: flex;
  transform: translateX(-50%); */
  padding: 20px;
  width: 90%;
  box-shadow:  0px 19px 20px #80808026;
  border-radius: 10px;
}
.main{
  display:grid ; 
  

  margin-top:10px;
}


.item-left{

}
.p{
  width: 60%;
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important; 
  margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(1.75rem * var(--tw-space-y-reverse)) !important;
};

button{
  color: red;
}

#booking{
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
  padding: 20px 40px !important;
  color: white !important;
  border-radius: 9px;
  
}

#shopName{
  font-size: 3rem;
  font-weight: normal;
}

#para-text{
  font-size: 1.2rem;
}
#location{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
#locationIcon{
  height: 1.25rem;
  width: 1.25rem;
}
#logoImg{

  border-radius: 20px;
}

#item-right-img{
  border-radius: 20px;
  margin-left: 100px;
  /* flex-shrink: 0; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  /* text-align: center; */
}
.card {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
  background-color: #efefef;
  align-items: center;
  height: auto;
  width: 60%;
  border-radius: 20px;
}
.profile_desc {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.profile_desc > h3 {
  font-size: 18px;
  color: #333;
  padding: 20px 0;
}
.heading {
  display: flex;
  align-items: center;
}
.heading > h1 {
  margin-right: 30px;
}
.skill_sets {
  display: flex;
}
.profile_pic {
  display: flex;
  align-items: center;
  height: 100%;
  /* width: 40%; */
  padding: 20px 40px;
}
.profile_pic > img {
  /* width: 100%; */
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.skill_sets {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.skill_item {
  display: flex;
  align-items: center;
  background-color: red;
  padding: 3px 14px;
  border-radius: 20px;
  border: 1px solid #888;
  background-color: #fff;
}
.skill_item > img {
  width: 20px;
  margin-right: 5px;
}
.skill_item > p {
  font-size: 12px;
}
.follow_btn {
  background: #000;
  color: #fff;
  padding: 3px 14px;
  border-radius: 14px;
  cursor: pointer;
}
